@{
    ViewData["Title"] = "Home Page";
}

<table style="height: 100%;  width:100%">
    <tr style="height:20px">
        <td>
            <h3>Your algorithm is below</h3>
        </td>
    </tr>
    <tr>
        <td id="blocklyArea">
        </td>
    </tr>
</table>

<xml id="toolbox" style="display: none">
    <block type="controls_if"></block>
    <block type="logic_compare"></block>
    <block type="controls_repeat_ext"></block>
    <block type="math_number"></block>
    <block type="math_arithmetic"></block>
    <block type="text"></block>
    <block type="text_print"></block>
</xml>